.captcha {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div_imgs {
  display: flex;
  flex-direction: row;
}
.div_img {
  width: 220px;
  height: 200px;
  margin: 10px;
}
img {
  width: 100%;
  height: 100%;
}
input {
  display: none;
}

button {
  border: none;
  width: 120px;
  height: 60px;
  line-height: 60px;
  border-radius: 10px;
  color: black;

}

